<div class="profile-card trends">
  <h3>Trends
    <span class="mid-dot">.</span>
  <a href="#">Change</a>
  </h3>
  <div id="trends-list">
      <ul class="list">
          <li class="trend-item">
            <a  href="#"><span>#Devils Due</span></a>
          </li>
          <li class="trend-item">
            <a  href="#"><span>Google</span></a>
          </li>
          <li class="trend-item">
            <a  href="#"><span>#Nashto1mill</span></a>
          </li>
          <li class="trend-item">
            <a  href="#"><span>#SJSharks</span></a>
          </li>
          <li class="trend-item">
            <a  href="#"><span>San Francisco</span></a>
          </li>
          <li class="trend-item">
            <a  href="#"><span>SWV Reunited</span></a>
          </li>
          <li class="trend-item">
            <a  href="#"><span>#NBA Ballot</span></a>
          </li>
          <li class="trend-item">
            <a  href="#"><span>#PriceofGold</span></a>
          </li>
          <li class="trend-item">
            <a  href="#"><span>Vegas</span></a>
          </li>
          <li class="trend-item">
            <a  href="#"><span>Tonya Harding</span></a>
          </li>
      </ul>
    </div>
</div>
